<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ResuMate</title>
  <link rel="stylesheet" href="index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap" rel="stylesheet">
  <script src="index.js" defer></script>
</head>
<body>

<!-- Navbar -->
<header class="navbar">
  <div class="logo">
    <a  class="name">ResuMate<span></span></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li>Home</a></li>
      <li>About</a></li>
      <li>Features</a></li>
      <li>Contact</a></li>
    </ul>
  </nav>
  <div class="btn">
    <button class="auth-buttons" >LOGIN</button>
    <button class="auth-buttons" >SIGNUP</button>
  </div>
</header>

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>Build Your Professional Resume <span>Effortlessly</span></h1>
    <p>Create stunning Resume in minutes with our easy-to-use interface.</p>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <p>&copy; 2024 ResuMate. All rights reserved.</p>
  <ul class="footer-links">
    <li><a >Privacy Policy</a></li>
    <li><a >Terms of Service</a></li>
  </ul>
</footer>

</body>
</html>
